<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js"></script>
</head>
<body>
    <div class="container">
        <div id="devtrac">

            <div class="devtrac--map">
                <div id="devtrac--mapbox"></div>
            </div>

            <div class="devtrac--legend animated">
                <span class="legend--status status--proposed"><span class="legend--circle"></span>Proposed</span>
                <span class="legend--status status--approved"><span class="legend--circle"></span>Approved</span>
                <span class="legend--status status--underConstruction"><span class="legend--circle"></span>Under construction</span>
                <span class="legend--status status--contructionComplete"><span class="legend--circle"></span>Construction complete</span>
            </div>

            <div class="devtrac--fullscreen pointer">
                <i class="fa fa-arrows-alt" onclick="toggleFullScreen();"></i>
            </div>

            <div class="devtrac--filterbox animated">
                <div class="filterbox--inner">

                    <h1 class="filterbox--title pointer" onclick="toggleFilterBox();">Filter developments<i class="fa fa-caret-down animated"></i></h1>

                    <form>
                        <div class="filterbox--inputwrapper">
                            <input type="text" name="search" placeholder="Search project name or address">
                        </div>

                        <div class="filterbox--inputwrapper">
                            <p class="filterbox--header">Usage</p>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="usageCommercial">
                                    Commercial
                                </label>
                                <br>
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="usageResidential">
                                    Residential
                                </label>
                            </div>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="usageManufacturing">
                                    Manufacturing
                                </label>
                                <br>
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="usageMixed">
                                    Mixed
                                </label>
                            </div>
                        </div>

                        <div class="filterbox--inputwrapper">
                            <p class="filterbox--header">Project Status</p>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="statusProposed">
                                    Proposed
                                </label>
                            </div>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="statusApproved">
                                    Approved
                                </label>
                            </div>
                            <br>
                            <label class="inputwrapper--label">
                                <input type="checkbox" name="statusUnderConstruction">
                                Under Construction
                            </label>
                            <br>
                            <label class="inputwrapper--label">
                                <input type="checkbox" name="statusConstructionComplete">
                                Construction Completed
                            </label>
                        </div>

                        <div class="filterbox--inputwrapper">
                            <select name="neighborhood" class="holder--neighborhoods">
                                <option value="" data-center="[lon,lat,zoom]">All Neighborhoods</option>
                            </select>
                        </div>

                        <div class="filterbox--inputwrapper">
                            <select name="developers" class="holder--developers">
                                <option value="">All Developers</option>
                            </select>
                        </div>

                    </form>

                </div>
            </div>

            <div class="devtrac--infobox infobox--hidden animated">
                <div class="infobox--outer"><div class="infobox--inner"></div></div>
                <i class="fa fa-times-circle pointer"></i>
            </div>

            <div class="devtrac--touch" onclick="toggleFullScreen();">
                <div class="touch--wrapper">
                    <i class="fa fa-hand-pointer-o"></i>
                    <br>
                    Touch to interact
                </div>
            </div>

        </div>
    </div>
    <script type="text/template" id="template--neighborhoods">
        <% _.forEach(neighborhoods, function(neighborhood) { %>
            <option value="<%= neighborhood %>" data-center="[lon,lat,zoom]"><%= neighborhood %></option>
        <% }); %>
    </script>
    <script type="text/template" id="template--developers">
        <% _.forEach(developers, function(developer) { %>
            <option value="<%= developer %>"><%= developer %></option>
        <% }); %>
    </script>
    <script type="text/template" id="template--infobox">
        <div class="infobox--imagewrap">
            <img class="imagewrap--image" src="<%= image %>"><span class="imagewrap--status"><%= status %></span>
        </div>
        <div class="infobox--details">
            <span class="details--estimates"><strong>Completion: </strong><%= completionDate %><br><strong>Cost: </strong>$<%= cost %></span>
            <h3 class="details--name"><%= name %></h3>
            <p class="details--location"><%= address %> &mdash; <%= neighborhood %></p>
            <p class="details--desc"><%= description %></p>
            <p class="details--who">
                <span class="details--developer"><strong>Developer: </strong><%= developer %></span>
                <span class="details--architect"><strong>Architect: </strong><%= architect %></strong></span>
            </p>
            <p class="details--coverage">
                <strong>Coverage: </strong>
                <span class="coverage--bullet">•</span><a class="coverage--link" href="<%= coverage[0].url %>"><%= coverage[0].headline %></a>
            </p>
        </div>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
