<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js"></script>
</head>
<body>
    <div class="container">
        <div id="devtrac">

            <div class="devtrac--map">
                <div id="devtrac--mapbox"></div>
            </div>

            <div class="devtrac--legend animated">
                <span class="legend--status status--proposed"><span class="legend--circle"></span>Proposed</span>
                <span class="legend--status status--approved"><span class="legend--circle"></span>Approved</span>
                <span class="legend--status status--underConstruction"><span class="legend--circle"></span>Under construction</span>
                <span class="legend--status status--contructionCompleted"><span class="legend--circle"></span>Construction completed</span>
            </div>

            <div class="devtrac--fullscreen pointer">
                <i class="fa fa-arrows-alt toggleFullScreen"></i>
            </div>

            <div class="devtrac--filterbox animated">
                <div class="filterbox--inner">

                    <h1 class="filterbox--title pointer toggleFilterBox">Filter developments<i class="fa fa-caret-down animated"></i></h1>

                    <form>
                        <div class="filterbox--inputwrapper">
                            <input type="text" name="search" placeholder="Search project name or address">
                        </div>

                        <div class="filterbox--inputwrapper filters--usage">
                            <p class="filterbox--header">Usage</p>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="commercial" checked="checked">
                                    Commercial
                                </label>
                                <br>
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="residential" checked="checked">
                                    Residential
                                </label>
                            </div>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="manufacturing" checked="checked">
                                    Manufacturing
                                </label>
                                <br>
                                <label class="inputwrapper--label">
                                    <input type="checkbox" name="mixed" checked="checked">
                                    Mixed
                                </label>
                            </div>
                        </div>

                        <div class="filterbox--inputwrapper filters--status">
                            <p class="filterbox--header">Project Status</p>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" class="proposed" name="proposed" checked="checked">
                                    Proposed
                                </label>
                            </div>
                            <div class="inputwrapper--twocol">
                                <label class="inputwrapper--label">
                                    <input type="checkbox" class="approved" name="approved" checked="checked">
                                    Approved
                                </label>
                            </div>
                            <br>
                            <label class="inputwrapper--label">
                                <input type="checkbox" class="under" name="under-construction" checked="checked">
                                Under Construction
                            </label>
                            <br>
                            <label class="inputwrapper--label">
                                <input type="checkbox" class="completed" name="construction-completed" checked="checked">
                                Construction Completed
                            </label>
                        </div>

                        <div class="filterbox--inputwrapper">
                            <select name="neighborhood" class="holder--neighborhoods">
                                <option value="" data-center="[lon,lat,zoom]">All Neighborhoods</option>
                            </select>
                        </div>

                        <div class="filterbox--inputwrapper">
                            <select name="developers" class="holder--developers">
                                <option value="">All Developers</option>
                            </select>
                        </div>

                    </form>

                </div>
            </div>

            <div class="devtrac--infobox infobox--hidden animated">
                <div class="infobox--outer"><div class="infobox--inner"></div></div>
                <i class="fa fa-times-circle pointer"></i>
            </div>

            <div class="devtrac--touch toggleFullScreen">
                <div class="touch--wrapper">
                    <i class="fa fa-hand-pointer-o"></i>
                    <br>
                    Touch to interact
                </div>
            </div>

        </div>
    </div>
    <script type="text/template" id="template--neighborhoods">
        <% _forEach(neighborhoods, function(neighborhood) { %>
            <option value="<%= neighborhood %>" data-center="[lon,lat,zoom]"><%= neighborhood %></option>
        <% }); %>
    </script>
    <script type="text/template" id="template--developers">
        <% _forEach(developers, function(developer) { %>
            <option value="<%= developer %>"><%= developer %></option>
        <% }); %>
    </script>
    <script type="text/template" id="template--infobox">
        <% if (image !== "") { %>
        <div class="infobox--imagewrap">
            <img class="imagewrap--image" src="<%= image %>"><span class="imagewrap--status status--<%= status %>"><%= statusNice %></span>
        </div>
        <% } %>
        <div class="infobox--details">
            <span class="details--estimates"><strong>Est. Completion Date: </strong><%= completionDate %><br><strong>Est. Cost: </strong><%= cost %></span>
            <h3 class="details--name"><%= name %></h3>
            <p class="details--location"><%= address %> &mdash; <%= neighborhood %></p>
            <p class="details--desc"><%= description %></p>
            <p class="details--who">
                <% if (developer) { %><span class="details--developer"><strong>Developer: </strong><%= developer %></span><% } %>
                <% if (architect) { %><span class="details--architect"><strong>Architect: </strong><%= architect %></span><% } %>
            </p>
            <% if (coverage && coverage.length > 0) { %>
            <p class="details--coverage">
                <strong>Coverage: </strong>
                <% _forEach(coverage, function(cvg) {  %>
                    <span class="coverage--bullet">•</span><a class="coverage--link" href="<%= cvg.link %>" target="_blank"><%= cvg.headline %></a>
                <% }); %>
            </p>
            <% } %>
        </div>
    </script>
    <script src="js/bundle.js"></script>
</body>
</html>
